/* yükleniyor animasyonu */
.spinner {
	margin: 10px auto;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.overlay .spinner{
	position: relative;
	top:40%;
}

.overlay span.glyphicon {
	font-size: 41px;
	position: absolute;
	right: 40%;
	top: 40%;
	color:#3c763d;
}

.spinner > div {
	background-color: #152f65;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin: 0px 5px;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
			 transform: scaleY(1.0);
			 -webkit-transform: scaleY(1.0);
		 }
}
/* /yükleniyor animasyonu */
#inbox-table .message{cursor: pointer;}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
	margin: 0
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
	margin: 0 ;
}
.error-page-without-headline{
	width: 450px;
}
.error-page-without-headline >.error-content {
	margin: 0;
}
.profile-info{
	float: left;
	width: 50%;
}
.profile-info > span{
	font-weight: bold;
	display: inline-flex;
	width: 100px;
}

/* typeahead  */
.twitter-typeahead{
	padding: 0;
}
